<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forget Password</title>


    <link rel="stylesheet" href="{% static 'css/forget/forget.css' %}">
    <link rel="stylesheet" href="{% static 'css/forget/responsive.css' %}"></head>
<body>
    <main>
        <section class="forget-container-content">
          <div class="top_img">
            <img src="{% static 'css/images/images.png' %}" alt="" />
          </div>
          <div class="forget_box">
            <h4 class="forget_to_title">Forget your account</h4>
            <p class="forget_email_title">Enter your email & password reset</p>
  
              <div class="forget_mail_Box_main">
                  <form class="forget_background_hide" action="">
                      <div class="forget_Box_input">
                          <div class="Forget_Box_add-form">
                              <label for="fname">Email Address</label><br />
                              <input class="forget_input_box" type="email" id="email" name="email" placeholder="Enter Your Email" />
                          </div>
                      </div>  
                      <div class="forget_password_btn">
                        <a class="forget_p_button" href="#">Send Email Code</a>
                    </div>
  
                    <div class="forget_details_support">
                        <p class="forget_our_customer">Our Customer Support</p>
                        <div class="forget_number_and_support">
                            <div class="forget_call_numbers">
                                (800) 587-2319
                            </div>
                            <div class="forget_admin_support">
                                support@admin.com
                            </div>
                        </div>
                    </div>
                  </form>
              </div>
          </div>
        </section>
      </main>
</body>
</html>