{% extends "base/admin_base.html" %}
{% load static %}


{% block title %} Account Update {% endblock title %}


{% block content %}
<section class="content">
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eius culpa iusto ab, distinctio nemo pariatur fuga aspernatur magni officiis dolores vel vero? Soluta cum veritatis voluptas vitae nobis dolore incidunt dignissimos. Ducimus suscipit eligendi quaerat voluptatum, asperiores, obcaecati veritatis praesentium culpa itaque cum porro iure doloremque saepe nisi fuga, officiis dolores voluptatem? Iste, corporis cumque! Debitis voluptatibus ut nemo eius corporis porro, animi nihil ratione tenetur veritatis eveniet placeat quibusdam quo veniam accusamus voluptates unde, pariatur fugiat. Possimus dolor corporis libero earum, doloremque illum a eos rem voluptatem ullam nihil vel totam cum dolore, quibusdam omnis ipsum aliquid aperiam quis!
  </section>
{% endblock content %}