{% extends "base/admin_base.html" %}
{% load static %}


{% block title %} Help Center {% endblock title %}


{% block content %}
<section class="content">
    <div class="page-heading">
        <h1>Publisher's Support</h1>
        <p>Saturday · May 25, 2024 · 10:57:07 AM GMT+5 </p>
    </div>

    <div class="container">
        <div class="support-item">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSSxuL5vRfJWlX4V1MRz2ouNpVztAOZOL7bJSCrajlTjg&s" alt="Facebook Icon">
            <h2>Facebook</h2>
            <a href="https://www.facebook.com">https://www.facebook.com</a>
        </div>
        <div class="support-item">
            <img src="https://cdn-icons-png.freepik.com/512/81/81609.png" alt="Twitter Icon">
            <h2>Twitter</h2>
            <a href="https://www.twitter.com">https://www.twitter.com</a>
        </div>
        <div class="support-item">
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/82/Telegram_logo.svg/2048px-Telegram_logo.svg.png" alt="Instagram Icon">
            <h2>Instagram</h2>
            <a href="https://www.instagram.com">https://www.instagram.com</a>
        </div>
        <div class="support-item">
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/a7/2062095_application_chat_communication_logo_whatsapp_icon.svg/2048px-2062095_application_chat_communication_logo_whatsapp_icon.svg.png" alt="LinkedIn Icon">
            <h2>Whatsapp</h2>
            <a href="https://www.linkedin.com">https://www.linkedin.com</a>
        </div>
    </div>

    <div class="contact-info">
        <p>If you need any help, contact our customer support - <a href="mailto:support@.com">support@.com</a></p>
    </div>

</section>
{% endblock content %}