{% extends "base/admin_base.html" %}
{% load static %}


{% block title %} Paymnets {% endblock title %}


{% block content %}
<section class="content">
    <div class="page-heading">
        <h1>Payment Methods - Billing</h1>
        <p>Friday · May 24, 2024 · 2:26:24 AM GMT+5</p>
    </div>

    <div class="paymnet-cards">
        <div class="payment-card">
            <div>
                <p>This Month ( Earnings )</p>
                <b>0</b>
            </div>
            <div>
                <i style="font-size: 40px;" class="fa-solid fa-house"></i>
            </div>
        </div>
        <div class="payment-card">
            <div>
                <p>This Month ( Earnings )</p>
                <b>0</b>
            </div>
            <div>
                <i style="font-size: 40px;" class="fa-solid fa-wallet"></i>
            </div>
        </div>
        <div class="payment-card">
            <div>
                <p>This Month ( Earnings )</p>
                <b>0</b>
            </div>
            <div>
                <i style="font-size: 40px;" class="fa-regular fa-credit-card"></i>
            </div>
        </div>
        <div class="payment-card">
            <div>
                <p>This Month ( Earnings )</p>
                <b>0</b>
            </div>
            <div>
                <i style="font-size: 40px;" class="fa-solid fa-money-bill-1"></i>
            </div>
        </div>
    </div>

    <div>
        <div class="static-heading-payment-page">
            <h3>$ Revenue Summery </h3>
            <button class="add-payment-btn">Add Payment Methods</button>
        </div>

        <div class="payment-method-card">
            <i style="font-size: 44px; color: green;" class="fa-regular fa-credit-card"></i>
        </div>
    </div>

    <div>
        <div class="static-table-heading">
            <h3>Payment History</h3>
        </div>

        <div class="flex-table-and-content">
            <div class="flex-child-1">
                <table>
                    <thead>
                        <tr>
                            <th>Date</th>
                            <th>Impression</th>
                            <th>Clicks</th>
                            <th>ECMP</th>
                            <th>Earnings</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Data 1</td>
                            <td>Data 2</td>
                            <td>Data 3</td>
                            <td>Data 4</td>
                            <td>Data 4</td>
                        </tr>
                        <tr>
                            <td>Data 5</td>
                            <td>Data 6</td>
                            <td>Data 7</td>
                            <td>Data 8</td>
                            <td>Data 8</td>
                        </tr>
                        <tr>
                            <td>Data 9</td>
                            <td>Data 10</td>
                            <td>Data 11</td>
                            <td>Data 12</td>
                            <td>Data 12</td>
                        </tr>

                    </tbody>
                </table>
            </div>
        </div>
    </div>

</section>
{% endblock content %}